@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* End CSS Reset */

body {
    margin: 0;
}

:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Playfair Display", serif;
    --article-font-size: 1rem;
    --background-image-color: linear-gradient(45deg, #630381, #ff0099);
}

.diagonal-box {
    background-image: var(--background-image-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewY(-25deg) translateY(-22%);
}

.header-content {
    margin: 0 0.5rem;
    text-align: center;
    color: white;
    transform: skewY(25deg) translateY(22%);
    position: relative;
    padding-top: 2rem;
}

.mobile-nilov {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.bottom-left-text {
    position: absolute;
    bottom: 8px;
    font-family: var(--secondary-font);
    left: 16px;
    font-size: 3rem;
    line-height: 1.2;
    text-align: left;
}

.about-me {
    margin-top: 5rem;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}

.about-me-tablet-desktop {
    display: none;
}

.about-me h1 {
    font-weight: normal;
}

.about-me-text {
    text-align: left;
    font-family: var(--main-font);
    font-size: var(--article-font-size);
    margin: 1rem 1rem;
}

.logos {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.corner-sqr {
    display: none;
}

.logos img {
    width: 2rem;
}

.my-work {
    margin: 1rem 1rem;
    font-family: var(--secondary-font);
    margin-top: 2rem;
}

.my-work h1 {
    text-align: center;
    font-weight: normal;
}

.card {
    margin: 1rem 0;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 12rem;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.card-bottom-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.card-bottom-header img {
    width: 1rem;
}

.card-bottom-header p {
    margin-top: 0;
    flex: auto;
    margin-left: 1.2rem;
}

.project-description {
    font-family: var(--main-font);
    font-size: 0.8rem;
    margin-left: 1.2rem;
    margin-right: 2rem;
    padding-bottom: 3.5rem;
}

.contact-me {
    background-image: var(--background-image-color);
    color: white;
    margin-top: 5rem;
}

.contact-me h1 {
    font-weight: normal;
    font-family: var(--secondary-font);
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
}

.contact-me p {
    font-family: var(--main-font);
    margin: 1rem 1rem 0 1rem;
}

.contact-me .contact-address {
    font-size: 0.8rem;
}

.contact-me .contact-numbers {
    font-size: 0.8rem;
}

.contact-numbers img {
    display: none;
}

.contact-me .logos {
    padding-bottom: 4rem;
}

.mobile-nilov-footer img {
    width: 100vw;
    object-fit: cover;
}

@media (min-width: 401px) and (max-width: 799px) {
    .header-content {
        display: flex;
        transform: skewY(15deg) translateY(25%);
    }

    .corner-sqr {
        visibility: hidden;
        display: inline;
        width: 15rem;
        height: 13rem;
        float: left;
    }

    .diagonal-box {
        transform: skewY(-15deg) translateY(-25%);
    }

    .header-content picture {
        position: absolute;
        margin-top: 2rem;
        top: 0;
        left: 1rem;
        width: 250px;
        height: auto;
    }

    .bottom-left-text {
        position: absolute;
        color: white;
        right: 2rem;
        font-family: var(--secondary-font);
        top: 4rem;
        font-size: 2rem;
        line-height: 1.2;
        text-align: right;
    }

    .about-me {
        display: none;
    }

    .about-me-tablet-desktop {
        display: block;
        margin-top: 7rem;
        margin-left: 3rem;
        margin-right: 3rem;
        color: black;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding-bottom: 2rem;
    }

    .about-me-tablet-desktop h1 {
        font-family: var(--secondary-font);
        margin-top: 2rem;
        margin-right: 1rem;
    }

    .about-me-tablet-desktop .logos {
        display: none;
    }

    .my-work h1 {
        text-align: left;
        margin-left: 2rem;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 0 2rem;
    }

    .contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    .contact-me h1 {
        font-weight: normal;
        font-family: var(--secondary-font);
        padding-top: 1rem;
        font-size: 2rem;
        text-align: left;
        margin-left: 1rem;
    }

    .contact-numbers img {
        display: block;
        width: 20px;
    }

    .contact-me .contact-description {
        padding-right: 1rem;
    }

    .mobile-nilov-footer img {
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
    }

    .footer-content .logos {
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .contact-detail {
        display: flex;
        gap: 0.75rem;
    }

    .contact-me .contact-description {
        font-size: 0.8rem;
    }

    .contact-me .contact-address {
        font-size: 0.8rem;
    }

    .contact-me .contact-numbers {
        font-size: 0.8rem;
    }
}

@media (min-width: 800px) {
    .my-work h1 {
        text-align: left;
        margin-left: 2rem;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 0 2rem;
    }

    .contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }

    .contact-me h1 {
        font-weight: normal;
        font-family: var(--secondary-font);
        padding-top: 1rem;
        font-size: 2rem;
        text-align: left;
        margin-left: 1rem;
    }

    .contact-me .contact-description {
        padding-right: 1rem;
    }

    .mobile-nilov-footer img {
        padding-top: 2rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }

    .footer-content .logos {
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .contact-numbers img {
        display: block;
        width: 20px;
    }

    .contact-detail {
        display: flex;
        gap: 0.75rem;
    }
}